body{
    background-color:  #c7aebc ;
}
.intro{
    background-color: rgba(236, 170, 47, 0.733);
}
.elasti{
    background-color: rgba(112, 209, 233, 0.877);
}
.porosi{
    background-color: yellowgreen;
}